/.Actor.java._trace
/.Actor.xtendbin
/.App.java._trace
/.App.xtendbin
/.Assessment.java._trace
/.Assessment.xtendbin
/.Category.java._trace
/.Category.xtendbin
/.Clasification.java._trace
/.Clasification.xtendbin
/.Content.java._trace
/.Content.xtendbin
/.Director.java._trace
/.Director.xtendbin
/.Episode.java._trace
/.Episode.xtendbin
/.Movie.java._trace
/.Movie.xtendbin
/.Serie.java._trace
/.Serie.xtendbin
/.TriFlix.java._trace
/.TriFlix.xtendbin
/.User.java._trace
/.User.xtendbin
/Actor.java
/App.java
/Assessment.java
/Category.java
/Clasification.java
/Content.java
/Director.java
/Episode.java
/Movie.java
/Serie.java
/TriFlix.java
/User.java
